<p-toolbar>
  <div *ngIf="authService.isLoggedIn" class="ui-toolbar-group-left">
    <button pButton type="button" routerLink="/" icon="fas fa-music" label="Music Portal"></button>
    <button pButton type="button" routerLink="/album/list" label="Albumok"></button>
    <button pButton type="button" routerLink="/song/list" label="Zenék"></button>
    <button pButton type="button" routerLink="/playlist/list" label="Playlist"></button>
  </div>
  <div *ngIf="!authService.isLoggedIn" class="ui-toolbar-group-left">
    <button pButton type="button" routerLink="/" icon="fas fa-music" label="Music Portal"></button>
  </div>

  <div class="ui-toolbar-group-right">
    <div *ngIf="!authService.isLoggedIn">
      <button pButton type="button" routerLink="/login" label="Bejelentkezés" icon="fas fa-sign-in-alt" style="margin-left:.25em;"></button>
      <button pButton type="button" routerLink="/register" label="Regisztráció" icon="fas fa-user" style="margin-left:.25em;"></button>
    </div>
    <div *ngIf="authService.isLoggedIn">
      <button pButton type="button" [routerLink]="['/user', authService.loggedInUser.id]" label="{{authService.loggedInUser.username}}" icon="fas fa-user">
      </button>
      <button pButton type="button" (click)="logout()" label="Kijelentkezés" icon="fas fa-sign-out-alt" style="margin-left:.25em;"></button>
    </div>
  </div>
</p-toolbar>

