<p-toolbar>
  <div class="ui-toolbar-group-left">
    <button pButton type="button" routerLink="/" icon="fas fa-music" label="Music Portal"></button>
    <button pButton type="button" routerLink="/album/list" label="Albumok"></button>
    <button pButton type="button" routerLink="/song/list" label="Dalok"></button>
    <button pButton type="button" routerLink="/playlist/list" label="Lej. listák"></button>
  </div>

  <div class="ui-toolbar-group-right">
    <div *ngIf="!authService.isLoggedIn; else showLoginLogout">
      <input name="searchWordText"
             [(ngModel)]="searchWord"
             #searchWordText="ngModel"
             pInputText type="text"
             placeholder="Keresés"
             (keydown)="keyDownFunction($event)"/>
      <button pButton type="button" routerLink="/login" label="Bejelentkezés" icon="fas fa-sign-in-alt"></button>
      <button pButton type="button" routerLink="/register" label="Regisztráció" icon="fas fa-user"></button>
    </div>
    <ng-template #showLoginLogout>
      <input name="searchWordText"
             [(ngModel)]="searchWord"
             #searchWordText="ngModel"
             pInputText type="text"
             placeholder="Keresés"
             (keydown)="keyDownFunction($event)"/>
      <button pButton type="button" [routerLink]="['/user', authService.loggedInUser.id]" label="{{authService.loggedInUser.username}}" icon="fas fa-user">
      </button>
      <button pButton type="button" (click)="logout()" label="Kijelentkezés" icon="fas fa-sign-out-alt"></button>
    </ng-template>
  </div>
</p-toolbar>
