<button pButton (click)="goBack()" icon="fas fa-chevron-left" label="Vissza" style="margin: 10px 0px">
</button>
<h1>
  Keresett szó: {{searchWord}}
</h1>
<p-tabView>
  <p-tabPanel header="Albumok">
    <div *ngIf="albums.length === 0; else showAlbums">
      <i>Nincs ilyen címkével rendelkező album</i>
    </div>
    <ng-template #showAlbums>
      <p-dataView #dv [value]="albums" [paginator]="true" [rows]="10" paginatorPosition="both">
        <ng-template let-album pTemplate="listItem">
          <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
            <div class="ui-g-12 ui-md-3" style="text-align:center">
              <div *ngIf="album.coverFileGdaId === ''; else showAlbumCover">
                <img src="" class="fas fa-compact-disc fa-4x album_cover list_element_img">
              </div>
              <ng-template #showAlbumCover>
                <img src="{{'https://docs.google.com/uc?export=download&id=' + album.coverFileGdaId}}" class="list_element_img">
              </ng-template>
            </div>
            <div class="ui-g-10 ui-md-7">
              <div class="ui-g">
                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
                  <div class="ui-grid-row">
                    <h3>
                      <a [routerLink]="['/album', album.id]">
                        {{album.title}}
                      </a>
                    </h3>
                  </div>
                  <div class="ui-grid-row">
                    <h4>
                      <a [routerLink]="['/user', album.user.id]">
                        {{album.user.username}}
                      </a>
                    </h4>
                  </div>
                  <div>
                    <h4>
                      {{album.date | date}}
                    </h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-dataView>
    </ng-template>
  </p-tabPanel>
  <p-tabPanel header="Dalok">
    <div *ngIf="songs.length === 0; else showSongs">
      <i>Nincs ilyen címkével rendelkező dal</i>
    </div>
    <ng-template #showSongs>
      <p-dataView #dv [value]="songs" [paginator]="true" [rows]="10" paginatorPosition="both">
        <ng-template let-song pTemplate="listItem">
          <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
            <div class="ui-g-12 ui-md-3" style="text-align:center">
              <div *ngIf="song.album.coverFileGdaId === ''; else showAlbumCover">
                <img src="" class="fas fa-compact-disc fa-4x list_element_img">
              </div>
              <ng-template #showAlbumCover>
                <img src="{{'https://docs.google.com/uc?export=download&id=' + song.album.coverFileGdaId}}" class="list_element_img">
              </ng-template>
            </div>
            <div class="ui-g-10 ui-md-7">
              <div class="ui-g">
                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
                  <div class="ui-grid-row">
                    <h3>
                      <a [routerLink]="['/song', song.id]">
                        {{song.title}}
                      </a>
                    </h3>
                  </div>
                  <div class="ui-grid-row">
                    <h4>
                      <a [routerLink]="['/album', song.album.id]">
                        {{song.album.title}}
                      </a>
                    </h4>
                  </div>
                  <div>
                    <h4>
                      <a [routerLink]="['/user', song.user.id]">
                        {{song.user.username}}
                      </a>
                    </h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-dataView>
    </ng-template>
  </p-tabPanel>
  <p-tabPanel header="Lejátszási listák">
    <div *ngIf="playlists.length === 0; else showPlaylists">
      <i>Nincs ilyen címkével rendelkező lejátszási lista</i>
    </div>
    <ng-template #showPlaylists>
      <p-dataView #dv [value]="playlists" [paginator]="true" [rows]="10" paginatorPosition="both">
        <ng-template let-playlist pTemplate="listItem">
          <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
            <div class="ui-g-12 ui-md-3" style="text-align:center">
              <div>
                <img src="" class="fas fa-play fa-4x list_element_img">
              </div>
            </div>
            <div class="ui-g-10 ui-md-7">
              <div class="ui-g">
                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
                  <div class="ui-grid-row">
                    <h3>
                      <a [routerLink]="['/playlist', playlist.id]">
                        {{playlist.name}}
                      </a>
                    </h3>
                  </div>
                  <div class="ui-grid-row">
                    <h4>
                      <a [routerLink]="['/user', playlist.user.id]">
                        {{playlist.user.username}}
                      </a>
                    </h4>
                  </div>
                  <div>
                    <h4>
                      {{playlist.date | date}}
                    </h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-dataView>
    </ng-template>
  </p-tabPanel>
</p-tabView>
