<button pButton (click)="goBack()" icon="fas fa-chevron-left" label="Vissza" style="margin: 10px 0px">
</button>
<p-toast [style]="{marginTop: '80px'}"></p-toast>
<p-confirmDialog acceptLabel="Igen" rejectLabel="Nem"></p-confirmDialog>
<h1 class="first">
  Lejátszási lista
</h1>
<table class="table">
  <tbody>
    <tr>
      <th>
        Név:
      </th>
      <td>
        {{playlist.name}}
      </td>
    </tr>
    <tr>
      <th>
        Feltöltő:
      </th>
      <td>
        <a [routerLink]="['/user', playlist.user.id]" style="color: dodgerblue;">
          {{playlist.user.username}}
        </a>
      </td>
    </tr>
    <tr>
      <th>
        Dátum:
      </th>
      <td>
        {{playlist.date | date}}
      </td>
    </tr>
    <tr>
      <th>Címkék:</th>
      <td>
        <div *ngIf="playlistTags.length === 0; else showPlaylistTags">
          <i>Nincsenek megadva címkék</i>
        </div>
        <ng-template #showPlaylistTags>
          <button *ngFor="let playlistTag of playlistTags"
                  pButton type="button"
                  label="#{{playlistTag.word}}"
                  [routerLink]="['/search/tag', playlistTag.word]"></button>
        </ng-template>
      </td>
    </tr>
  </tbody>
</table>
<div *ngIf="(authService.isLoggedIn) && (authService.loggedInUser.id === playlist.user.id)" class="edit_buttons">
  <button pButton type="button" label="Adatok szerk." (click)="showDetailsDialog()">
  </button>
  <p-dialog header="Adatok szerkesztése" [(visible)]="detailsEditDisplay" [modal]="true" [responsive]="true"
            [width]="800" [minWidth]="400" [minY]="70"
            [maximizable]="true" [baseZIndex]="10000">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          <b>
            Név:
          </b>
        </div>
        <div class="ui-grid-col-6">
          <input name="playlistNameText"
                 pInputText type="text"
                 [(ngModel)]="playlistEditName"
                 #playlistNameText="ngModel"
                 required />
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          <b>
            Címkék :
          </b>
        </div>
        <div class="ui-grid-col-6">
          <p-chips name="playlistTagsChips"
                   [(ngModel)]="playlistEditPlaylistTags"
                   #playlistTags="ngModel">
            <ng-template let-item pTemplate="item">
              #{{item}}<i style="margin-right: 1.5em"></i>
            </ng-template>
          </p-chips>
        </div>
        <div class="ui-grid-col-4">
        </div>
      </div>
    </div>
    <p-pickList [source]="songs" [target]="selectedSongs" sourceHeader="Össz. dal" targetHeader="Kiv. dal" [responsive]="true" filterBy="title"
                dragdrop="true" dragdropScope="songs" sourceFilterPlaceholder="Search by brand" targetFilterPlaceholder="Search by brand" [sourceStyle]="{'height':'300px'}" [targetStyle]="{'height':'300px'}">
      <ng-template let-song pTemplate="item">
        <div class="ui-helper-clearfix">
          <div style="font-size:14px;font-weight: bold;text-align: center;margin:15px 5px;">{{song.title}}</div>
        </div>
      </ng-template>
    </p-pickList>
    <p-footer>
      <button type="button" pButton icon="fas fa-check" (click)="changeDetails(); detailsEditDisplay = false;"
              label="Mentés"></button>
      <button type="button" pButton icon="fas fa-times" (click)="detailsEditDisplay=false" label="Kilép"></button>
    </p-footer>
  </p-dialog>
  <button pButton type="button" (click)="deletePlaylistConfirm()" label="Lej. lista törlése">
  </button>
</div>
<p-dataView *ngIf="playlistSongs.length >= 1" #dv [value]="playlistSongs" [paginator]="true" [rows]="10" paginatorPosition="both">
  <ng-template let-song pTemplate="listItem">
    <div class="ui-g" style="padding: 1em;border-bottom: 1px solid #d9d9d9">
      <div class="ui-g-12 ui-md-3" style="text-align:center">
        <div *ngIf="song.album.coverFileGdaId === ''; else showAlbumCover">
          <img src="" class="fas fa-compact-disc fa-4x album_cover list_element_img">
        </div>
        <ng-template #showAlbumCover>
          <img src="{{'https://docs.google.com/uc?export=download&id=' + song.album.coverFileGdaId}}" class="list_element_img">
        </ng-template>
      </div>
      <div class="ui-g-10 ui-md-7">
        <div class="ui-g">
          <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
            <div class="ui-grid-row">
              <h3>
                <a [routerLink]="['/playlist', playlist.id, 'songs', getSongIndex(song)]">
                  {{song.title}}
                </a>
              </h3>
            </div>
            <div class="ui-grid-row">
              <h4>
                <a [routerLink]="['/album', song.album.id]">
                  {{song.album.title}}
                </a>
              </h4>
            </div>
            <div class="ui-grid-row">
              <h4>
                <a [routerLink]="['/user', song.user.id]">
                  {{song.user.username}}
                </a>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-dataView>

