<button pButton (click)="goBack()" icon="fas fa-chevron-left" label="Vissza" style="margin: 10px 0px">
</button>
<h1>
  Keresett műfaj: {{genreWord}}
</h1>
<p-tabView>
  <p-tabPanel header="Albumok">
    <div *ngIf="albums.length === 0; else showAlbums">
      <i>Nincs ilyen címkével rendelkező album</i>
    </div>
    <ng-template #showAlbums>
      <p-dataView #dv [value]="albums" [paginator]="true" [rows]="10" paginatorPosition="both">
        <ng-template let-album pTemplate="listItem">
          <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
            <div class="ui-g-12 ui-md-3" style="text-align:center">
              <div *ngIf="album.coverFileGdaId === ''; else showAlbumCover">
                <img src="" class="fas fa-compact-disc fa-4x album_cover list_element_img">
              </div>
              <ng-template #showAlbumCover>
                <img src="{{'https://docs.google.com/uc?export=download&id=' + album.coverFileGdaId}}" class="list_element_img">
              </ng-template>
            </div>
            <div class="ui-g-10 ui-md-7">
              <div class="ui-g">
                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
                  <div class="ui-grid-row">
                    <h3>
                      <a [routerLink]="['/album', album.id]">
                        {{album.title}}
                      </a>
                    </h3>
                  </div>
                  <div class="ui-grid-row">
                    <h4>
                      <a [routerLink]="['/user', album.user.id]">
                        {{album.user.username}}
                      </a>
                    </h4>
                  </div>
                  <div>
                    <h4>
                      {{album.date | date}}
                    </h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-dataView>
    </ng-template>
  </p-tabPanel>
  <p-tabPanel header="Felhasználók">
    <div *ngIf="users.length === 0; else showUsers">
      <i>Nincs ilyen címkével rendelkező felhasználó</i>
    </div>
    <ng-template #showUsers>
      <p-dataView #dv [value]="users" [paginator]="true" [rows]="10" paginatorPosition="both">
        <ng-template let-user pTemplate="listItem">
          <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
            <div class="ui-g-12 ui-md-3" style="text-align:center">
              <div *ngIf="user.iconFileGdaId === ''; else showUserIcon">
                <img src="" class="fas fa-user fa-4x list_element_img">
              </div>
              <ng-template #showUserIcon>
                <img src="{{'https://docs.google.com/uc?export=download&id=' + user.iconFileGdaId}}" class="list_element_img">
              </ng-template>
            </div>
            <div class="ui-g-10 ui-md-7">
              <div class="ui-g">
                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
                  <div class="ui-grid-row">
                    <h1 style="margin-top: 25px">
                      <a [routerLink]="['/user', user.id]">
                        {{user.username}}
                      </a>
                    </h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-dataView>
    </ng-template>
  </p-tabPanel>
</p-tabView>
