<h1 class="display-2">Regisztráció</h1>
<form (submit)="submit(f)" #f="ngForm">
  {{message}}
  <div class="form-group">
    <mat-form-field>
      <input
        name="usernameText"
        [(ngModel)]="user.username"
        matInput type="text"
        placeholder="Felhasználónév"
        required
      #usernameText="ngModel">
      <mat-error *ngIf="usernameText.invalid && (usernameText.dirty || usernameText.touched)">
        Adjon meg a felhasználónevét!
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field>
      <input
        name="emailAddressText"
        [(ngModel)]="user.emailAddress"
        matInput type="email"
        placeholder="Email cím"
        required
        #emailAddressText="ngModel">
      <mat-error *ngIf="emailAddressText.invalid && (emailAddressText.dirty || emailAddressText.touched)">
        Adjon meg egy email címet!
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field>
      <input
        name="passwordText"
        [(ngModel)]="password"
        matInput type="text"
        placeholder="Jelszó"
        required
        #passwordText="ngModel">
      <mat-error *ngIf="passwordText.invalid && (passwordText.dirty || passwordText.touched)">
        Adjon meg egy minimum 8 karakteres jelszót!!
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field>
      <input
        name="passwordVerifyText"
        matInput type="text"
        placeholder="Jelszó">
      <mat-error>
        Adjon meg egy minimum 8 karakteres jelszót!
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field>
      <input
        name="fullNameText"
        [(ngModel)]="user.fullName"
        matInput type="text"
        placeholder="Teljes név"
        required
        #fullNameText="ngModel">
      <mat-error *ngIf="fullNameText.invalid && (fullNameText.dirty || fullNameText.touched)">
        Adja meg a teljes nevét!
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-group">
    <input name="iconFile" (change)="onFileSelected($event)" class="ng-hide" type="file" accept="image/*"/>
  </div>
  <div class="form-group">
    <mat-form-field>
      <mat-select name="favGenreText" [(ngModel)]="user.favGenreId" placeholder="Kedvenc műfaj" required>
        <mat-option *ngFor="let genre of chooseableGenres" [value]="genre">
          {{genre.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-checkbox name="artistCheckBox" [(ngModel)]="isArtist">
      Dal szerzőnek jelentkezés
    </mat-checkbox>
  </div>


  <button [disabled]="f.invalid" type="submit" mat-raised-button color="primary">
    Regisztráció
  </button>
</form>
