<button pButton (click)="goBack()" icon="fas fa-chevron-left" label="Vissza" style="margin: 10px 0px">
</button>
<h1 class="first">
  Regisztráció
</h1>
<p-messages [(value)]="msgs"></p-messages>
  <form (submit)="submit(f)" #f="ngForm">
    <p-panel [showHeader]="false">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            <b>
              Felhasználónév *:
            </b>
          </div>
          <div class="ui-grid-col-6">
            <input name="usernameText"
                   pInputText type="text"
                   pTooltip="Adjon meg egy min. 5 és max. 30 karakteres felhasználónevet!"
                   [(ngModel)]="user.username"
                   #usernameText="ngModel"
                   placeholder="Felhasználónév"
                   required
                   pattern="[0-9A-Za-z @#$!]*"
                   minlength="5"
                   maxlength="30" />
          </div>
          <div class="ui-grid-col-4">
            <p-message
              severity="error"
              [text]="usernameText.errors['required'] ? 'Adjon meg egy felhasználónevet!' :
                    usernameText.errors['pattern'] ? 'A megadott felhasználónév nem megfelelő!' :
                    usernameText.errors['minlength'] ? 'A megadott felhasználónév kevesebb, mint 5 karakter!' :
                    usernameText.errors['maxlength'] ? 'A megadott felhasználónév több, mint 30 karakter!' : ''"
              *ngIf="usernameText.invalid&&usernameText.dirty">
            </p-message>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            <b>
              E-mail cím *:
            </b>
          </div>
          <div class="ui-grid-col-6">
            <input name="emailAddressText"
                   pInputText type="email"
                   pTooltip="Adja meg az kívánt e-mail címét!"
                   [(ngModel)]="user.emailAddress"
                   #emailAddressText="ngModel"
                   placeholder="E-mail cím"
                   required
                   pattern="[a-z0-9._]+@[a-z0-9._]+\.[a-z]{2,3}"
                   minlength="5" />
          </div>
          <div class="ui-grid-col-4">
            <p-message
              severity="error"
              [text]="emailAddressText.errors['required'] ? 'Adjon meg egy e-mail címet!' :
                      emailAddressText.errors['pattern'] ? 'A megadott e-mail cím nem megfelelő!' :
                      emailAddressText.errors['minlenght'] ? 'A megadott e-mail cím kevesebb, mint 5 karakter!' : ''"
              *ngIf="emailAddressText.invalid&&emailAddressText.dirty">
            </p-message>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            <b>
              E-mail cím megerősítés *:
            </b>
          </div>
          <div class="ui-grid-col-6">
            <input name="emailAddressConfirmText"
                   pInputText type="email"
                   pTooltip="Megadott e-mail cím megerősítése"
                   [(ngModel)]="emailAddressConfirm"
                   #emailAddressConfirmText = "ngModel"
                   placeholder="E-mail cím megerősítés"
                   required
                   pattern="[a-z0-9._]+@[a-z0-9._]+\.[a-z]{2,3}"
                   minlength="5"
                   (invalid)="user.emailAddress !== emailAddressConfirm"/>
          </div>
          <div class="ui-grid-col-4">
            <p-message
              severity="error"
              text="A két e-mail cím nem egyezik meg!"
              *ngIf="(emailAddressConfirmText.invalid&&emailAddressConfirmText.dirty)||emailAddressConfirm!=user.emailAddress">
            </p-message>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            <b>
              Jelszó *:
            </b>
          </div>
          <div class="ui-grid-col-6">
            <input name="passwordText"
                   pPassword type="password"
                   promptLabel="Jelszó erősség"
                   weakLabel="Gyenge"
                   mediumLabel="Közepes"
                   strongLabel="Erős"
                   pTooltip="Adjon megy egy min. 6 és max. 15 karakteres jelszót!"
                   [(ngModel)]="password"
                   #passwordText="ngModel"
                   placeholder="Jelszó"
                   required
                   pattern="[0-9A-Za-z@$_!.]*"
                   minlength="6"
                   maxlength="15"/>
          </div>
          <div class="ui-grid-col-4">
            <p-message
              severity="error"
              [text]="passwordText.errors['required'] ? 'Adja meg a jelszót!' :
              passwordText.errors['minlength'] ? 'A megadott jelszó kevesebb, mint 6 karakter!' :
              passwordText.errors['maxlenght'] ? 'A megadott jelszó több, mint 15 karakter!' : ''"
              *ngIf="passwordText.invalid&&passwordText.dirty">
            </p-message>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            <b>
              Jelszó megerősítés *:
            </b>
          </div>
          <div class="ui-grid-col-6">
            <input name="passwordConfirmText"
                   pPassword type="password"
                   promptLabel="Jelszó erősség"
                   weakLabel="Gyenge"
                   mediumLabel="Közepes"
                   strongLabel="Erős"
                   pTooltip="Megadott jelszó megerősítése"
                   [(ngModel)] = "passwordConfirm"
                   #passwordConfirmText = "ngModel"
                   placeholder="Jelszó megerősítés"
                   required
                   pattern="[0-9A-Za-z@$_!.]*"
                   minlength="6"
                   maxlength="15"
                   (invalid)="passwordText.value !== passwordConfirmText.value"/>
          </div>
          <div class="ui-grid-col-4">
            <p-message
              severity="error"
              text="A két jelszó nem egyezik meg!"
              *ngIf="(passwordConfirmText.invalid&&passwordConfirmText.dirty)||passwordConfirm!=password">
            </p-message>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            <b>
              Ország :
            </b>
          </div>
          <div class="ui-grid-col-6">
            <p-dropdown name="country"
                        pTooltip="Válassza ki az országát!"
                        [options]="countries"
                        [(ngModel)]="user.countryId"
                        #country="ngModel"
                        [autoWidth]="false"
                        [filter]="true"
                        scrollHeight="100px"
                        optionLabel="name"
                        [required]="false"
            ></p-dropdown>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            <b>
              Ikon kép :
            </b>
          </div>
          <div class="ui-grid-col-6">
            <p-fileUpload
              (onSelect)="onFileSelected($event)"
              (onClear)="onFileRemove()"
              (onRemove)="onFileRemove()"
              accept="image/*"
              chooseLabel="Kiválasztás"
              [showUploadButton]="false"
              [showCancelButton]="false">
              <ng-template pTemplate="content">
              </ng-template>
            </p-fileUpload>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            <b>
              Kedvenc műfaj *:
            </b>
          </div>
          <div class="ui-grid-col-6">
            <p-dropdown name="favGenreId"
                        pTooltip="Válassza ki a kedvenc zenei műfaját!"
                        [options]="genres"
                        [(ngModel)]="user.favGenreId"
                        #favGenre="ngModel"
                        [autoWidth]="false"
                        [filter]="true"
                        scrollHeight="100px"
                        optionLabel="name"
                        [required]="false"
            ></p-dropdown>
          </div>
          <div class="ui-grid-col-4">
            <p-message
              severity="error"
              text="Válassza ki kedvenc műfaját!"
              *ngIf="favGenre.invalid&&favGenre.dirty">
            </p-message>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            <b>
              Címkék :
            </b>
          </div>
          <div class="ui-grid-col-6">
            <p-chips name="userTagsChips"
                     [(ngModel)]="Tags"
                     #userTags = "ngModel"
                     >
              <ng-template let-item pTemplate="item">
                #{{item}}<i style="margin-right: 1.5em"></i>
              </ng-template>
            </p-chips>
          </div>
          <div class="ui-grid-col-4">
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-2"></div>
          <div class="ui-grid-responsive">
            <p-checkbox
              name="isArtistCheckbox"
              [(ngModel)]="isArtist"
              #isArtistCheckbox = "ngModel"
              pTooltip="Az oldalra feltöltőként való regisztálás során lehetősége lesz a továbbiakban saját szerzeményeit feltőlteni és megosztani!"
              binary="true"></p-checkbox>
          </div>
          <div class="ui-grid-col-2">
            Jelentkezem feltöltőként
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-2"></div>
          <div class="ui-grid-col-6">
            <button
              class="ui-button-raised ui-button-success"
              pButton type="submit"
              label="Regisztráció"
              [disabled]="f.invalid">
            </button>
          </div>
        </div>
      </div>
    </p-panel>
  </form>
