<h1 class="display-2">Új lejátszási lista</h1>
<div style="display: inline-block;">
  <form (submit)="submitPlaylist(playlistForm)" #playlistForm="ngForm">
    <div class="form-group">
      <mat-form-field>
        <input
          name="nameText"
          [(ngModel)]="modelPlaylist.name"
          matInput type="text"
          placeholder="Album címe"
          required
          #nameText="ngModel">
        <mat-error *ngIf="nameText.invalid && (nameText.dirty || nameText.touched)">
          Adja meg az album címét!
        </mat-error>
      </mat-form-field>
    </div>

    <button [disabled]="playlistForm.invalid" type="submit" mat-raised-button color="primary">Album mentése</button>
  </form>
  <div>
    <h2>
      Eddigi zenék
    </h2>
    <table class="table">
      <tr *ngFor="let song of modelSelectedSongs">
        <td>
          {{song.title}}
        </td>
        <td (click)="deleteSong(song)">
          <mat-icon>
            delete
          </mat-icon>
        </td>
      </tr>
    </table>
  </div>
  <div>
    <h2>
      Dalok
    </h2>
    <table class="table">
      <tr *ngFor="let song of allSongs">
        <td>
          {{song.title}}
        </td>
        <td (click)="selectSong(song)">
          <mat-icon>
            done
          </mat-icon>
        </td>
      </tr>
    </table>
  </div>
</div>
