<button pButton (click)="goBack()" icon="fas fa-chevron-left" label="Vissza" style="margin: 10px 0px">
</button>
<h1 class="first">
  Új lejátszási lista
</h1>
<p-messages [(value)]="msgs"></p-messages>
<form (submit)="submitPlaylist(f)" #f="ngForm">
  <p-panel>
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Lejátszsási lista neve *:
        </div>
        <div class="ui-grid-col-4">
          <input name="playlistNameText"
                 pInputText type="text"
                 pTooltip="Adja meg a feltölteni kívánt lejátszási lista nevét!"
                 [(ngModel)]="playlist.name"
                 #playlistNameText="ngModel"
                 placeholder="Lejátszási lista neve"
                 required />
        </div>
        <div class="ui-grid-col-4">
          <p-message
            severity="error"
            text="Adja meg a lejátszási lista nevét!"
            *ngIf="playlistNameText.invalid&&playlistNameText.dirty">
          </p-message>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Címkék :
        </div>
        <div class="ui-grid-col-6">
          <p-chips name="playlistTagsChips"
                   [(ngModel)]="tags"
                   #playlistTagsChips="ngModel">
            <ng-template let-item pTemplate="item">
              #{{item}}<i style="margin-right: 2em"></i>
            </ng-template>
          </p-chips>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2"></div>
        <div class="ui-grid-col-4">
          <button
            class="ui-button-raised ui-button-success"
            pButton type="submit"
            label="Feltöltés"
            [disabled]="f.invalid">
          </button>
        </div>
      </div>
    </div>
    <p-pickList [source]="songs" [target]="selectedSongs" sourceHeader="Összes dalok" targetHeader="Kiválasztott dalok" [responsive]="true" filterBy="title"
                dragdrop="true" dragdropScope="songs" sourceFilterPlaceholder="Cím" targetFilterPlaceholder="Cím" [sourceStyle]="{'height':'300px'}" [targetStyle]="{'height':'300px'}">
      <ng-template let-song pTemplate="item">
        <div class="ui-helper-clearfix">
          <div style="font-size:14px;font-weight: bold;text-align: center;margin:15px 5px;">{{song.title}}</div>
        </div>
      </ng-template>
    </p-pickList>
  </p-panel>
</form>
