<h1 class="first">
  Lejátszási listák
</h1>
<div *ngIf="playlists.length === 0">
  <strong>
    Még nincs lej. lista feltöltve!
  </strong>
</div>

<div *ngIf="playlists.length >= 1">
  <p-dataView #dv [value]="playlists" [paginator]="true" [rows]="10" paginatorPosition="both">
    <ng-template let-playlist pTemplate="listItem">
      <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
        <div class="ui-g-10 ui-md-7">
          <div class="ui-g">
            <a [routerLink]="['/playlist', playlist.id]" style="color: black;">
              <h1 class="first">
                {{playlist.name}}
              </h1>
            </a>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>
