<h1 class="display-2">Bejelentkezés</h1>
<!--<form (submit)="submit(f)" #f="ngForm">
  {{message}}
  <div class="form-group">
    <mat-form-field>
      <input
        name="usernameText"
        [(ngModel)]="username"
        matInput type="text"
        placeholder="Felhasználónév"
        required
        #usernameText="ngModel">
      <mat-error *ngIf="usernameText.invalid && (usernameText.dirty || usernameText.touched)">
        Adja meg a felhasználónevét!
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input
        name="passwordText"
        [(ngModel)]="password"
        matInput type="password"
        placeholder="Jelszó"
        required
        #passwordText="ngModel">
      <mat-error  *ngIf="passwordText.invalid && (passwordText.dirty || passwordText.touched)">
        Adja meg a jelszavát!
      </mat-error>
    </mat-form-field>
  </div>

  <button [disabled]="f.invalid" type="submit" mat-raised-button color="primary">
    Bejelentkezés
  </button>
</form>-->

<form (submit)="send(f)" #f="ngForm">
  <mat-form-field>
    <input
      name="messageText"
      [(ngModel)]="userMessage.text"
      matInput type="text"
      placeholder="Üzenet"
      required
      #messageText="ngModel">
    <mat-error *ngIf="messageText.invalid && (messageText.dirty || messageText.touched)">
      Adja meg a felhasználónevét!
    </mat-error>
  </mat-form-field>

  <button [disabled]="f.invalid" type="submit" mat-raised-button color="primary">
    Küld
  </button>
</form>
