<h1 class="first">Bejelentkezés</h1>
<form (submit)="submit(f)" #f="ngForm">
  <p-panel>
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          <input name="usernameText" type="text" pInputText placeholder="Felhasználónév" [(ngModel)]="username" #usernameText="ngModel"/>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          <input name="passwordText" type="password" pInputText placeholder="Jelszó" [(ngModel)]="password" #passwordtext="ngModel"/>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          <button
            class="ui-button-raised ui-button-success"
            pButton type="submit"
            label="Bejelentkezés"
            [disabled]="f.invalid">
          </button>
        </div>
      </div>
    </div>
  </p-panel>
</form>
