<h1 class="display-4">Adataim:</h1>
    <div>
      <img *ngIf="user.iconFileGdaId !== ''" src="{{'https://docs.google.com/uc?export=download&id=' + user.iconFileGdaId}}" class="float-left" width="100px" style="margin: 10px; border-radius: 5px;">
      <img *ngIf="user.iconFileGdaId === ''" class="fas fa-user fa-4x" width="100px" style="margin: 10px; border-radius: 5px;">
      <br>
      <button>
        Szerkesztés
      </button>
    </div>
    <table class="table">
      <tbody>
        <tr>
          <th>
            Név:
          </th>
          <td>
            {{ user.username }}
          </td>
        </tr>
        <tr>
          <th>
            E-mail cím:
          </th>
          <td>
            {{user.emailAddress}}
          </td>
        </tr>
        <tr>
          <th>
            Kedvenc műfaj:
          </th>
          <td>
            {{user.favGenreId.name}}
          </td>
        </tr>
      <tr>
        <td>
          <button (click)="delete()">
            Töröl
          </button>
        </td>
      </tr>
      </tbody>
    </table>
<form>

</form>


