<h1 class="first">
  Music Portal
</h1>
<div>
  <h2 class="first">Legfrissebb albumok</h2>
  <div *ngIf="firstFiveAlbums.length === 0; else showFirstFiveAlbums">
    <i>Jelenleg nincs feltöltve album!</i>
  </div>
  <ng-template #showFirstFiveAlbums>
    <p-carousel headerText="" [value]="firstFiveAlbums">
      <ng-template let-album pTemplate="item">
        <div class="ui-grid ui-grid-responsive list-element">
          <div class="ui-grid-row list-element-row">
            <div class="ui-grid-col-12">
              <img src="" class="fas fa-compact-disc fa-5x list-element-img" *ngIf="album.coverFileGdaId === ''; else showAlbumCover"/>
              <ng-template #showAlbumCover>
                <img src="{{'https://docs.google.com/uc?export=download&id=' + album.coverFileGdaId}}" class="list-element-img">
              </ng-template>
            </div>
          </div>
          <div class="ui-grid-row list-element-row">
            <div class="ui-grid-col-6">
              <b>
                Cím
              </b>
            </div>
            <div class="ui-grid-col-6">
              {{album.title}}
            </div>
          </div>
          <div class="ui-grid-row list-element-row">
            <div class="ui-grid-col-6">
              <b>
                Feltöltő
              </b>
            </div>
            <div class="ui-grid-col-6">
              <a [routerLink]="['/user', album.user.id]">
                {{album.user.username}}
              </a>
            </div>
          </div>
          <div class="ui-grid-row list-element-row">
            <div class="ui-grid-col-6">
              <b>
                Dátum
              </b>
            </div>
            <div class="ui-grid-col-6">
              {{album.date | date}}
            </div>
          </div>
          <div class="ui-grid-row list-element-row">
            <div class="ui-grid-col-12">
              <button pButton
                      type="button"
                      icon="fas fa-angle-double-right fa-2x"
                      [routerLink]="['/album', album.id]"
                      ></button>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </ng-template>
  <h2 class="first">Legfrissebb lejátszási listák</h2>
  <div *ngIf="firstFivePlaylists.length === 0; else showFirstFivePlaylists">
    <i>Jelenleg nincs feltöltve lejátszási lista!</i>
  </div>
  <ng-template #showFirstFivePlaylists>
    <p-carousel headerText="" [value]="firstFivePlaylists">
      <ng-template let-playlist pTemplate="item">
        <div class="ui-grid ui-grid-responsive list-element">
          <div class="ui-grid-row list-element-row">
            <div class="ui-grid-col-12">
              <img src="" class="fas fa-play fa-5x list-element-img"/>
            </div>
          </div>
          <div class="ui-grid-row list-element-row">
            <div class="ui-grid-col-6">
              <b>
                Név
              </b>
            </div>
            <div class="ui-grid-col-6">
              {{playlist.name}}
            </div>
          </div>
          <div class="ui-grid-row list-element-row">
            <div class="ui-grid-col-6">
              <b>
                Feltöltő
              </b>
            </div>
            <div class="ui-grid-col-6">
              <a [routerLink]="['/user', playlist.user.id]">
                {{playlist.user.username}}
              </a>
            </div>
          </div>
          <div class="ui-grid-row list-element-row">
            <div class="ui-grid-col-12">
              <button pButton
                      type="button"
                      icon="fas fa-angle-double-right fa-2x"
                      [routerLink]="['/playlist', playlist.id]"
              ></button>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </ng-template>
  <h2 class="first">Leghallgatottabb dalok</h2>
  <div *ngIf="firstFiveSongs.length === 0; else showFirstFiveSongs">
    <i>Jelenleg nincs feltöltve dal!</i>
  </div>
  <ng-template #showFirstFiveSongs>
    <p-carousel headerText="" [value]="firstFiveSongs">
      <ng-template let-song pTemplate="item">
        <div class="ui-grid ui-grid-responsive list-element">
          <div class="ui-grid-row list-element-row">
            <div class="ui-grid-col-12">
              <img src="" class="fas fa-music fa-5x list-element-img" *ngIf="song.album.coverFileGdaId === ''; else showAlbumCover"/>
              <ng-template #showAlbumCover>
                <img src="{{'https://docs.google.com/uc?export=download&id=' + song.album.coverFileGdaId}}" class="list-element-img">
              </ng-template>
            </div>
          </div>
          <div class="ui-grid-row list-element-row">
            <div class="ui-grid-col-6">
              <b>
                Cím
              </b>
            </div>
            <div class="ui-grid-col-6">
              {{song.title}}
            </div>
          </div>
          <div class="ui-grid-row list-element-row">
            <div class="ui-grid-col-6">
              <b>
                Album
              </b>
            </div>
            <div class="ui-grid-col-6">
              <a [routerLink]="['/album', song.album.id]">
                {{song.album.title}}
              </a>
            </div>
          </div>
          <div class="ui-grid-row list-element-row">
            <div class="ui-grid-col-6">
              <b>
                Feltöltő
              </b>
            </div>
            <div class="ui-grid-col-6">
              <a [routerLink]="['/user', song.user.id]">
                {{song.user.username}}
              </a>
            </div>
          </div>
          <div class="ui-grid-row list-element-row">
            <div class="ui-grid-col-12">
              <button pButton
                      type="button"
                      icon="fas fa-angle-double-right fa-2x"
                      [routerLink]="['/song', song.id]"
              ></button>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </ng-template>
</div>
