<h1 class="first">
  Music Portal
</h1>
<div>
  <h2 class="first">Legfrissebb albumok</h2>
  <div *ngIf="firstFiveAlbums.length === 0; else showFirstFiveAlbums">
    Jelenleg nincs feltöltve album!
  </div>
  <ng-template #showFirstFiveAlbums>
    <p-carousel headerText="" [value]="firstFiveAlbums">
      <ng-template let-album pTemplate="item">
        <div class="ui-grid ui-grid-responsive">
          <div class="ui-grid-row">
            <div class="ui-grid-col-12">
              <img class="fas fa-compact-disc fa-5x" *ngIf="album.coverFileGdaId === ''; else showAlbumCover"/>
              <ng-template #showAlbumCover>
                <img src="{{'https://docs.google.com/uc?export=download&id=' + album.coverFileGdaId}}" width="100px">
              </ng-template>
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-6">
              Cím
            </div>
            <div class="ui-grid-col-6">
              {{album.title}}
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-6">
              Feltöltő
            </div>
            <div class="ui-grid-col-6">
              <a [routerLink]="['/user', album.user.id]">
                {{album.user.username}}
              </a>
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-6">
              Dátum
            </div>
            <div class="ui-grid-col-6">
              {{album.date | date}}
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-12">
              <button pButton
                      type="button"
                      icon="fas fa-search"
                      [routerLink]="['/album', album.id]"
                      ></button>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </ng-template>
  <h2 class="first">Legfrissebb lej. listák</h2>
  <div *ngIf="firstFivePlaylists.length === 0; else showFirstFivePlaylists">
    Jelenleg nincs feltöltve lej. lista!
  </div>
  <ng-template #showFirstFivePlaylists>
    <p-carousel headerText="" [value]="firstFivePlaylists">
      <ng-template let-playlist pTemplate="item">
        <div class="ui-grid ui-grid-responsive">
          <div class="ui-grid-row">
            <div class="ui-grid-col-12">
              <img class="fas fa-play fa-5x"/>
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-6">
              Név
            </div>
            <div class="ui-grid-col-6">
              {{playlist.name}}
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-6">
              Feltöltő
            </div>
            <div class="ui-grid-col-6">
              <a [routerLink]="['/user', playlist.user.id]">
                {{playlist.user.username}}
              </a>
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-12">
              <button pButton
                      type="button"
                      icon="fas fa-search"
                      [routerLink]="['/playlist', playlist.id]"
              ></button>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </ng-template>
  <h2 class="first">Leghallgatottabb dalok</h2>
  <div *ngIf="firstFiveSongs.length === 0; else showFirstFiveSongs">
    Jelenleg nincs feltöltve dal!
  </div>
  <ng-template #showFirstFiveSongs>
    <p-carousel headerText="" [value]="firstFiveSongs">
      <ng-template let-song pTemplate="item">
        <div class="ui-grid ui-grid-responsive">
          <div class="ui-grid-row">
            <div class="ui-grid-col-12">
              <img class="fas fa-music fa-5x" *ngIf="song.album.coverFileGdaId === ''; else showAlbumCover"/>
              <ng-template #showAlbumCover>
                <img src="{{'https://docs.google.com/uc?export=download&id=' + song.album.coverFileGdaId}}" width="100px">
              </ng-template>
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-6">
              Cím
            </div>
            <div class="ui-grid-col-6">
              {{song.title}}
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-6">
              Album
            </div>
            <div class="ui-grid-col-6">
              {{song.album.title}}
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-6">
              Feltöltő
            </div>
            <div class="ui-grid-col-6">
              <a [routerLink]="['/user', song.user.id]">
                {{song.user.username}}
              </a>
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-12">
              <button pButton
                      type="button"
                      icon="fas fa-search"
                      [routerLink]="['/song', song.id]"
              ></button>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </ng-template>
</div>
