<h1 class="display-4">
  Albumaim:
</h1>
<div *ngIf="albums.length === 0">
  <strong>
    Magának még nincsenek albumai!
  </strong>
</div>

<div *ngIf="albums.length >= 1" class="row">
  <div class="col">
    <table class="table">
      <tbody>
        <tr *ngFor="let album of albums">
          <td>
            <img *ngIf="album.coverFileGdaId !== ''" src="{{'https://docs.google.com/uc?export=download&id=' + album.coverFileGdaId}}" width="75px" style="margin: 10px; border-radius: 15px;">
            <img *ngIf="album.coverFileGdaId === ''" class="fas fa-compact-disc fa-3x" width="75px" style="margin: 10px; border-radius: 15px;">
          </td>
          <td>
            <a mat-icon-button
               [routerLink]="['/album', album.id]">
              <h3>
                {{album.title}}
              </h3>
            </a>
          </td>
          <td>
            <a mat-icon-button
               [routerLink]="['/album', album.id, 'update/details']">
              <i class="fas fa-edit fa-4x"></i>
            </a>
          </td>
          <td>
            <a mat-icon-button (click)="delete(album)">
              <i class="fas fa-times fa-4x" style="color: red;"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<a mat-raised-button color="primary" routerLink="/album/new">
  <mat-icon>
    add
  </mat-icon>
  Új album
</a>
