<h1 class="first">
  Albumok
</h1>
<div *ngIf="albums.length === 0">
  <strong>
    Még nincs album feltöltve!
  </strong>
</div>
<div *ngIf="albums.length >= 1">
  <p-dataView #dv [value]="albums" [paginator]="true" [rows]="10" paginatorPosition="both">
    <ng-template let-album pTemplate="listItem">
      <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
        <div class="ui-g-12 ui-md-3" style="text-align:center">
          <div *ngIf="album.coverFileGdaId === ''; else showAlbumCover">
            <img src="" class="fas fa-compact-disc fa-4x album_cover list_element_img">
          </div>
          <ng-template #showAlbumCover>
            <img src="{{'https://docs.google.com/uc?export=download&id=' + album.coverFileGdaId}}" class="list_element_img">
          </ng-template>
        </div>
        <div class="ui-g-10 ui-md-7">
          <div class="ui-g">
            <a [routerLink]="['/album', album.id]">
              <h1 class="first">
                {{album.title}}
              </h1>
            </a>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>
