<h1 class="first">Jelszó változtatás</h1>
<p-messages [(value)]="msgs"></p-messages>
<form (submit)="submit(f)" #f="ngForm">
  <p-panel [showHeader]="false">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Régi jelszó *:
        </div>
        <div class="ui-grid-col-6">
          <input name="oldPasswordText"
                 pPassword type="password"
                 promptLabel=""
                 weakLabel=""
                 mediumLabel=""
                 strongLabel=""
                 [feedback]="false"
                 pTooltip="Adja meg az eddig használz régi jelszavát!"
                 [(ngModel)]="oldPassword"
                 #oldPasswordText="ngModel"
                 placeholder="Régi jelszó"
                 required
                 pattern="[0-9A-Za-z@$_!.]*"
                 minlength="6"
                 maxlength="15"/>
        </div>
        <div class="ui-grid-col-4">
          <p-message
            severity="error"
            [text]="oldPasswordText.errors['required'] ? 'Adja meg a jelszót!' :
              oldPasswordText.errors['minlength'] ? 'A megadott jelszó kevesebb, mint 5 karakter!' :
              oldPasswordText.errors['maxlenght'] ? 'A megadott jelszó több, mint 15 karakter!' : ''"
            *ngIf="oldPasswordText.invalid&&oldPasswordText.dirty">
          </p-message>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Új jelszó *:
        </div>
        <div class="ui-grid-col-6">
          <input name="newPasswordText"
                 pPassword type="password"
                 promptLabel=""
                 weakLabel="Gyenge"
                 mediumLabel="Közepes"
                 strongLabel="Erős"
                 pTooltip="Új jelszó"
                 [(ngModel)] = "newPassword"
                 #newPasswordText = "ngModel"
                 placeholder="Új jelszó"
                 required
                 pattern="[0-9A-Za-z@$_!.]*"
                 minlength="6"
                 maxlength="15"/>
        </div>
        <div class="ui-grid-col-4">
          <p-message
            severity="error"
            [text]="newPasswordText.errors['required'] ? 'Adja meg a jelszót!' :
              newPasswordText.errors['minlength'] ? 'A megadott jelszó kevesebb, mint 5 karakter!' :
              newPasswordText.errors['maxlenght'] ? 'A megadott jelszó több, mint 15 karakter!' : ''"
            *ngIf="newPasswordText.invalid&&newPasswordText.dirty">
          </p-message>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Új jelszó megerősítés *:
        </div>
        <div class="ui-grid-col-6">
          <input name="newPasswordConfirmText"
                 pPassword type="password"
                 promptLabel=""
                 weakLabel="Gyenge"
                 mediumLabel="Közepes"
                 strongLabel="Erős"
                 pTooltip="Megadott új jelszó megerősítése"
                 [(ngModel)] = "newPasswordConfirm"
                 #newPasswordConfirmText = "ngModel"
                 placeholder="Új jelszó megerősítés"
                 required
                 pattern="[0-9A-Za-z@$_!.]*"
                 minlength="6"
                 maxlength="15"/>
        </div>
        <div class="ui-grid-col-4">
          <p-message
            severity="error"
            text="A két jelszó nem egyezik meg!"
            *ngIf="(newPasswordConfirmText.invalid&&newPasswordConfirmText.dirty)||newPasswordConfirm!=newPassword">
          </p-message>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2"></div>
        <div class="ui-grid-col-6">
          <button
            class="ui-button-raised ui-button-success"
            pButton type="submit"
            label="Küldés"
            [disabled]="f.invalid">
          </button>
        </div>
      </div>
    </div>
  </p-panel>
</form>
