<button pButton (click)="goBack()" icon="fas fa-chevron-left" label="Vissza" style="margin: 10px 0px">
</button>
<p-toast [style]="{marginTop: '80px'}"></p-toast>
<p-confirmDialog acceptLabel="Igen" rejectLabel="Nem"></p-confirmDialog>
<h1 class="first">
  Album
</h1>
<div>
  <div *ngIf="album.coverFileGdaId === ''; else showCover">
    <img class="fas fa-compact-disc fa-4x cover_img">
  </div>
  <ng-template #showCover>
    <img src="{{'https://docs.google.com/uc?export=download&id=' + album.coverFileGdaId}}" class="cover_img">
  </ng-template>
  <br>
  <p-dialog header="Borító kép szerkesztés" [(visible)]="coverEditDisplay" [modal]="true" [responsive]="true" [width]="350"
            [minWidth]="200" [minY]="70"
            [maximizable]="true" [baseZIndex]="10000">
    <p-fileUpload (onSelect)="onAlbumCoverFileSelected($event)"
                  (onClear)="onAlbumCoverFileRemove()"
                  (onRemove)="onAlbumCoverFileRemove()"
                  accept="image/*"
                  chooseLabel="Kiválasztás"
                  [showUploadButton]="false"
                  [showCancelButton]="false">

    </p-fileUpload>
    <p-footer>
      <button type="button" pButton icon="fas fa-check" (click)="changeCoverFile(); coverEditDisplay = false;"
              label="Küld"></button>
      <button type="button" pButton icon="fas fa-times" (click)="coverEditDisplay=false" label="Kilép"></button>
    </p-footer>
  </p-dialog>
  <button
    *ngIf="authService.isLoggedIn && (authService.loggedInUser.id === album.user.id)"
    pButton type="button"
    (click)="showCoverDialog()"
    label="Szerkeszt"
    style="margin: 5px 0px">
  </button>
</div>
<table class="table">
  <tbody>
    <tr>
      <th>
        Cím:
      </th>
      <td>
        {{album.title}}
      </td>
    </tr>
    <tr>
      <th>
        Feltöltő:
      </th>
      <td>
        <a [routerLink]="['/user', album.user.id]" style="color: dodgerblue;">
          {{album.user.username}}
        </a>
      </td>
    </tr>
    <tr>
      <th>
        Dátum:
      </th>
      <td>
        {{album.date | date}}
      </td>
    </tr>
    <tr>
      <th>
        Típus:
      </th>
      <td>
        {{album.type}}
      </td>
    </tr>
    <tr>
      <th>Műfajok:</th>
      <td>
        <div *ngIf="albumGenres.length === 0; else showAlbumGenres">
          <i>Nincsenek megadva műfajok</i>
        </div>
        <ng-template #showAlbumGenres>
          <button *ngFor="let albumGenre of albumGenres"
                  pButton type="button"
                  label="{{albumGenre.name}}"></button>
        </ng-template>
      </td>
    </tr>
    <tr>
      <th>Címkék:</th>
      <td>
        <div *ngIf="albumTags.length === 0; else showUserTags">
          <i>Nincsenek megadva címkék</i>
        </div>
        <ng-template #showUserTags>
          <button *ngFor="let albumTag of albumTags"
                  pButton type="button"
                  label="#{{albumTag.word}}"></button>
        </ng-template>
      </td>
    </tr>
  </tbody>
</table>
<div *ngIf="(authService.isLoggedIn) && (authService.loggedInUser.id === album.user.id)" class="edit_buttons">
  <button pButton type="button" label="Adatok szerk." (click)="showDetailsDialog()">
  </button>
  <p-dialog header="Adatok szerkesztése" [(visible)]="detailsEditDisplay" [modal]="true" [responsive]="true"
            [width]="800" [minWidth]="400" [minY]="70"
            [maximizable]="true" [baseZIndex]="10000">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          <b>
            Cím:
          </b>
        </div>
        <div class="ui-grid-col-6">
          <input name="albumTitleText"
                 pInputText type="text"
                 [(ngModel)]="albumEditTitle"
                 #albumTitleText="ngModel"
                 required />
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          <b>
            Műfajok :
          </b>
        </div>
        <div class="ui-grid-col-6">
          <p-listbox name="genresListbox"
                     [options]="genres"
                     [(ngModel)]="albumEditGenres"
                     #genresListbox = "ngModel"
                     multiple="multiple"
                     checkbox="checkbox"
                     filter="filter"
                     optionLabel="name"
                     [listStyle]="{'max-height':'150px'}">
          ></p-listbox>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          <b>
            Címkék :
          </b>
        </div>
        <div class="ui-grid-col-6">
          <p-chips name="albumTagsChips"
                   [(ngModel)]="albumEditAlbumTags"
                   #userTags="ngModel">
            <ng-template let-item pTemplate="item">
              #{{item}}<i style="margin-right: 1.5em"></i>
            </ng-template>
          </p-chips>
        </div>
        <div class="ui-grid-col-4">
        </div>
      </div>
    </div>
    <p-footer>
      <button type="button" pButton icon="fas fa-check" (click)="changeDetails(); detailsEditDisplay = false;"
              label="Mentés"></button>
      <button type="button" pButton icon="fas fa-times" (click)="detailsEditDisplay=false" label="Kilép"></button>
    </p-footer>
  </p-dialog>
  <button pButton type="button" (click)="deleteAlbumConfirm()" label="Album törlése">
  </button>
</div>
<div *ngIf="(authService.isLoggedIn) && (authService.loggedInUser.id === album.user.id)">
  <button
    pButton type="button"
    label="Új dal"
    icon="fas fa-plus"
    class="ui-button-success"
    (click)="showSongCreateDialog()">
  </button>
  <p-dialog header="Új dal" [(visible)]="songCreateDisplay" [modal]="true" [responsive]="true"
            [width]="800" [minWidth]="400" [minY]="70"
            [maximizable]="true" [baseZIndex]="10000">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          <b>
            Cím :
          </b>
        </div>
        <div class="ui-grid-col-4">
          <input
            name="songNewTitleText"
            pInputText
            [(ngModel)]="songEditTitle"
            #songNewTitleText>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          <b>
            Fájl :
          </b>
        </div>
        <div class="ui-grid-col-4">
          <p-fileUpload (onSelect)="onSongAudioFileSelected($event)"
                        (onClear)="onSongAudioFileRemove()"
                        (onRemove)="onSongAudioFileRemove()"
                        accept="audio/*"
                        chooseLabel="Kiválasztás"
                        [showUploadButton]="false"
                        [showCancelButton]="false">
          </p-fileUpload>
        </div>
      </div>
    </div>
    <p-footer>
      <button
        type="button" pButton
        icon="fas fa-check"
        (click)="addSongDetails(); songCreateDisplay = false;"
        label="Mentés"
        [disabled]="(songEditTitle === '' || songAudioFile === null)"></button>
      <button
        type="button" pButton
        icon="fas fa-times"
        (click)="songEditDisplay = false"
        label="Kilép"></button>
    </p-footer>
  </p-dialog>
</div>
<p-dataView *ngIf="albumSongs.length >= 1" #dv [value]="albumSongs" [paginator]="true" [rows]="10" paginatorPosition="both">
  <ng-template let-song pTemplate="listItem">
    <div class="ui-g-12" style="padding: 1em;border-bottom: 1px solid #d9d9d9">
      <div class="ui-g-10 ui-md-7">
        <div class="ui-g">
          <a [routerLink]="['/song', song.id]">
            <h4 class="first">
              {{song.title}}
            </h4>
          </a>
        </div>
      </div>
      <div class="ui-g-6 ui-md-1" *ngIf="authService.isLoggedIn && (authService.loggedInUser.id === album.user.id)">
        <button
          pButton type="button"
          (click)="showSongDetailDialog(song)"
          style="width: 30px; height: 30px; margin-top: 10px;"
          icon="fas fa-edit"></button>
        <p-dialog header="Dal szerkesztés" [(visible)]="songEditDisplay" [modal]="true" [responsive]="true"
                  [width]="800" [minWidth]="400" [minY]="70"
                  [maximizable]="true" [baseZIndex]="10000">
          <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <div class="ui-grid-row">
              <div class="ui-grid-col-4">
                <b>
                  Cím :
                </b>
              </div>
              <div class="ui-grid-col-4">
                <input
                  name="songNewTitleText"
                  pInputText
                  [(ngModel)]="songEditTitle"
                  #songNewTitleText>
              </div>
            </div>
            <div class="ui-grid-row">
              <div class="ui-grid-col-4">
                <b>
                  Fájl :
                </b>
              </div>
              <div class="ui-grid-col-4">
                <p-fileUpload (onSelect)="onSongAudioFileSelected($event)"
                              (onClear)="onSongAudioFileRemove()"
                              (onRemove)="onSongAudioFileRemove()"
                              accept="audio/*"
                              chooseLabel="Kiválasztás"
                              [showUploadButton]="false"
                              [showCancelButton]="false">
                </p-fileUpload>
              </div>
            </div>
          </div>
          <p-footer>
            <button
              type="button" pButton
              icon="fas fa-check"
              (click)="changeSongDetails(); songEditDisplay = false;"
              label="Mentés"
              [disabled]="(songEditTitle === '' || songAudioFile === null)"></button>
            <button
              type="button" pButton
              icon="fas fa-times"
              (click)="songEditDisplay = false"
              label="Kilép"></button>
          </p-footer>
        </p-dialog>
      </div>
      <div class="ui-g-6 ui-md-1" *ngIf="authService.isLoggedIn && (authService.loggedInUser.id === album.user.id)">
        <button
          pButton type="button"
          (click)="deleteSongConfirm(song)"
          style="width: 30px; height: 30px; margin-top: 10px;"
          icon="fas fa-trash"></button>
      </div>
    </div>
  </ng-template>
</p-dataView>
