<p-toast [style]="{marginTop: '80px'}"></p-toast>
<p-confirmDialog></p-confirmDialog>
<button pButton routerLink="/album/list" icon="fas fa-chevron-left" label="Vissza" style="margin: 10px 0px">
</button>
<h1 class="first">
  Album
</h1>
<div>
  <div *ngIf="album.coverFileGdaId === ''; else showCover">
    <img class="fas fa-compact-disc fa-4x" width="100px" style="margin: 10px; border-radius: 5px;">
  </div>
  <ng-template #showCover>
    <img src="{{'https://docs.google.com/uc?export=download&id=' + album.coverFileGdaId}}" width="100px" style="margin: 10px; border-radius: 5px;">
  </ng-template>
  <br>
  <button *ngIf="authService.isLoggedIn && (authService.loggedInUser.id === album.user.id)" pButton type="button" label="Szerkeszt">
  </button>
</div>
<table class="table">
  <tbody>
    <tr>
      <th>
        Cím:
      </th>
      <td>
        {{album.title}}
      </td>
    </tr>
    <tr>
      <th>
        Feltöltő:
      </th>
      <td>
        <a [routerLink]="['/user', album.user.id]" style="color: dodgerblue;">
          {{album.user.username}}
        </a>
      </td>
    </tr>
    <tr>
      <th>
        Dátum:
      </th>
      <td>
        {{album.date | date}}
      </td>
    </tr>
    <tr>
      <th>Műfajok:</th>
      <td>
        <button *ngFor="let albumKeyword of album"
                pButton type="button"
                label="#{{albumKeyword.word}}"></button>
      </td>
    </tr>
    <tr>
      <th>Címkék:</th>
      <td>
        <button *ngFor="let albumKeyword of album.albumTags"
                pButton type="button"
                label="#{{albumKeyword.word}}"></button>
      </td>
    </tr>
  </tbody>
</table>
<p-dataView *ngIf="albumSongs.length >= 1" #dv [value]="albumSongs" [paginator]="true" [rows]="10" paginatorPosition="both">
  <ng-template let-song pTemplate="listItem">
    <div class="ui-g-12" style="padding: 1em;border-bottom: 1px solid #d9d9d9">
      <div class="ui-g-10 ui-md-7">
        <div class="ui-g">
          <a [routerLink]="['/song', song.id]" style="color: black;">
            <h4 class="first">
              {{song.title}}
            </h4>
          </a>
        </div>
      </div>
      <div class="ui-g-6 ui-md-1" *ngIf="authService.isLoggedIn && (authService.loggedInUser.id === album.user.id)">
        <button
          pButton type="button"
          [routerLink]="['/song', song.id, 'update/details']"
          style="width: 30px; height: 30px; margin-top: 10px;"
          icon="fas fa-edit"></button>
      </div>
      <div class="ui-g-6 ui-md-1" *ngIf="authService.isLoggedIn && (authService.loggedInUser.id === album.user.id)">
        <button
          pButton type="button"
          (click)="deleteSongConfirm(song)"
          style="width: 30px; height: 30px; margin-top: 10px;"
          icon="fas fa-trash"></button>
      </div>
    </div>
  </ng-template>
</p-dataView>
