<div id="parent" style="display: flex;">
  <div id="album" style="width: 300px;">
    <h1 class="display-4">
      Album:
    </h1>
    <div>
      <img *ngIf="album.coverFileGdaId !== ''" src="{{'https://docs.google.com/uc?export=download&id=' + album.coverFileGdaId}}" class="float-left" width="100px" style="margin: 10px; border-radius: 5px;">
      <img *ngIf="album.coverFileGdaId === ''" class="fas fa-compact-disc fa-4x" width="100px" style="margin: 10px; border-radius: 5px;">
      <br>
      <button>
        Szerkesztés
      </button>
    </div>
    <table class="table">
      <tbody>
        <tr>
          <th>
            Cím:
          </th>
          <td>
            {{album.title}}
          </td>
        </tr>
        <tr>
          <th>
            Dátum:
          </th>
          <td>
            {{album.date}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div id="albumSongs" style="flex: 1;">
    <h2>Dalok</h2>
    <table class="table">
      <tr *ngFor="let song of albumSongs">
        <td>
          <a mat-icon-button
             [routerLink]="['/song', song.id]">
            {{song.title}}
          </a>
        </td>
      </tr>
    </table>
  </div>
</div>
<button mat-raised-button routerLink="/album/list">
  Vissza
</button>
